.target{
  margin:200px 0px 50px 200px;
  background-color: red;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height:200px;
  width:150px;
  
}